.root {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.iframeRender {
    position: relative;
    flex: 1;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    padding-bottom: 4px;
}

.nodePath {
    flex: 1;
}

.tip {
    padding-top: 3px;
    flex: 0 0 auto;
    font-size: 12px;
    color: #e23131;
}
