@import 'src/theme';

.root {
    display: flex;
    width: 100%;
    padding-left: 43px;
    height: 100%;
    overflow: auto;

    :global {
        .ant-collapse-header {
            user-select: none;
        }
    }
}

.collapseBox {
    position: relative;
    overflow-y: auto;
    width: 100%;
    scroll-behavior: smooth;
}

.navigator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #d8d8d8;

    & > div {
        width: 42px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #d8d8d8;
        font-size: 16px;
        cursor: pointer;
    }
}

.code {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
